.itemContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px black solid;
    width: 70%;
    height: 100%;
    padding: 0;

    .item-img{
        padding: 0;
        margin: 0;
        width: 100%;
        height: 150px;
        border-bottom: 1px black solid;
    }

    .item-name{
        margin: 0;
        font-size: 40px;
    }
    .item-price{
        margin: 0;
        font-size: 30px;
    }
    .item-btns{
        display: flex;
        justify-content: start;
        
        .add-to-cart{
            width: 85%;
            height: 40px;
        }

        .add-to-favourites{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15%;
            height: 46px;

            

            &:hover{
                cursor: pointer;
                fill: rgb(195, 195, 115);
            }

        }
    }
}
.favourite-active{
    fill: rgb(195, 195, 115);
}

.fav{
    width: 50px;
    height: 50px;
    fill: gold;
}

.cart{
    width: 50px;
    height: 50px;
}

header{
    display: flex;
    gap: 15px;
}


.modal {
    border: 1px solid rgba(60, 66, 66, 1);
    border-radius: 23px;
    width: 560px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: rgb(217, 217, 217);



    .modal-wrapper{
        display: flex;
        flex-direction: column;



        .modal-header{
            margin-top: 10px;
            text-align: center;

            .modal-close{
                position: fixed;
                right: 10px;
                border: none;
                background-color: white;
            }
        }
        
    }
    
}

.fav-modal{
    height: 333px;
    z-index: 100;

    .modal-wrapper{
        gap: 42px;
    }
    .modal-header{
        font-size: 32px;
        padding-top: 56px;
    }
    .modal-body{
        font-size: 16px;
        display: flex;
        justify-content: center;
    }

    .modal-close{
        position: fixed;
        top: 5px;
        right: 5px;
        border-radius: 50%;
        border: none;
        background-color: white;
    }
    
    .modal-footer{
        margin-top: 31px;
        display: flex;
        justify-content: center;
        height: 48px;
        .footer-btn{
            background-color: rgba(138, 51, 253, 1);
            color: white;
            font-size: 16px;
            border-radius: 10px;
            width: 192px;
        }
    }
}


